[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
dmm = {editable = true,path = "."}

[packages]
requests = "*"
